html,body,header, #intro{
    height: 100%;

}
#intro{
    background: url(../img/Landscape-bg/Sliders/m.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: auto;
   
    
}
.top-nav-collapse{
    background-color: #085328;
}
    @media  (max-width: 768px){
        .navbar:not(.top-nav-collapse){
            background:#085328; 
    }  
}
 