html,body,header, #intro{
    height: 100%;

}
#intro{
    background: url(../img/Landscape-bg/Sliders/m.jpg);
    position: relative;
  left: 0px;
    
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -webkit-min-device-pixel-ratio: 2;
    
}
.top-nav-collapse{
    background-color: #085328;
}
    @media  (max-width: 768px){
        .navbar:not(.top-nav-collapse){
            background:#085328; 
    }  
}
 