html,body,header, #intro{
    height: 100%;

}
#intro{
    
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url("../img/Landscape-bg/Sliders/m.jpg");
    opacity: 1;
    z-index: -1;
    
}
.top-nav-collapse{
    background-color: #085328;
}
    @media  (max-width: 768px){
        .navbar:not(.top-nav-collapse){
            background:#085328; 
    }  
}
 